### Pandas 기초

### 가상환경 설치

Virtualenv 모듈 설치

```
> !pip install virtualenv
```

In [2]:
!pip install virtualenv

Requirement already satisfied: virtualenv in c:\dev\langs\python311\lib\site-packages (20.17.1)
Requirement already satisfied: distlib<1,>=0.3.6 in c:\dev\langs\python311\lib\site-packages (from virtualenv) (0.3.6)
Requirement already satisfied: filelock<4,>=3.4.1 in c:\dev\langs\python311\lib\site-packages (from virtualenv) (3.9.0)
Requirement already satisfied: platformdirs<3,>=2.4 in c:\dev\langs\python311\lib\site-packages (from virtualenv) (2.6.2)

DEPRECATION: Loading egg at c:\dev\langs\python311\lib\site-packages\vboxapi-1.0-py3.11.egg is deprecated. pip 23.3 will enforce this behaviour change. A possible replacement is to use pip for package installation..

#### 가상환경 설정

```
> virtualenv da_env
```

주피터 노트북 커널을 변경 - da_env(Python 3.11.2) 로 변경

##### 가상환경 패키지(pip) 확인

In [3]:
!pip list

Package                Version
---------------------- ------------
asgiref                3.6.0
asttokens              2.2.1
backcall               0.2.0
branca                 0.6.0
certifi                2022.12.7
charset-normalizer     3.1.0
click                  8.1.3
colorama               0.4.6
comm                   0.1.2
comtypes               1.1.14
debugpy                1.6.6
decorator              5.1.1
distlib                0.3.6
et-xmlfile             1.1.0
executing              1.2.0
filelock               3.9.0
folium                 0.14.0
gTTS                   2.3.1
idna                   3.4
ipykernel              6.21.1
ipython                8.10.0
jedi                   0.18.2
Jinja2                 3.1.2
jupyter_client         8.0.2
jupyter_core           5.2.0
MarkupSafe             2.1.2
matplotlib-inline      0.1.6
mysql-connector-python 8.0.32
nest-asyncio           1.5.6
numpy                  1.24.2
openpyxl               3.1.2
packaging              23.0
pandas                 1.5.3
parso                  0.8.3
pickleshare            0.7.5
Pillow                 9.4.0
pip                    23.2.1
platformdirs           2.6.2
playsound              1.3.0
prompt-toolkit         3.0.36
psutil                 5.9.4
pure-eval              0.2.2
pygame                 2.3.0
Pygments               2.14.0
PyMySQL                1.0.2
pypiwin32              223
pypng                  0.20220715.0
PyQt5                  5.15.9
PyQt5-Qt5              5.15.2
PyQt5-sip              12.11.1
PyQt5Designer          5.14.1
PyQtWebEngine          5.15.6
PyQtWebEngine-Qt5      5.15.2
pytesseract            0.3.10
python-dateutil        2.8.2
pythonds               1.2.1
pyttsx3                2.90
pytz                   2022.7.1
pywin32                305
pyzmq                  25.0.0
qrcode                 7.4.2
requests               2.28.2
setuptools             65.5.0
six                    1.16.0
sqlparse               0.4.3
stack-data             0.6.2
tk                     0.1.0
tornado                6.2
traitlets              5.9.0
typing_extensions      4.5.0
tzdata                 2022.7
urllib3                1.26.15
vboxapi                1.0
vboxapi                1.0
vboxapi                1.0
virtualenv             20.17.1
wcwidth                0.2.6

DEPRECATION: Loading egg at c:\dev\langs\python311\lib\site-packages\vboxapi-1.0-py3.11.egg is deprecated. pip 23.3 will enforce this behaviour change. A possible replacement is to use pip for package installation..

##### 판다스 설치
```
> !pip install pandas
```

- Pandas : 2.0.3
- Numpy : 1.25.2

In [4]:
!pip install pandas

Requirement already satisfied: pandas in c:\dev\langs\python311\lib\site-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\user\appdata\roaming\python\python311\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\dev\langs\python311\lib\site-packages (from pandas) (2022.7.1)
Requirement already satisfied: numpy>=1.21.0 in c:\dev\langs\python311\lib\site-packages (from pandas) (1.24.2)
Requirement already satisfied: six>=1.5 in c:\users\user\appdata\roaming\python\python311\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

DEPRECATION: Loading egg at c:\dev\langs\python311\lib\site-packages\vboxapi-1.0-py3.11.egg is deprecated. pip 23.3 will enforce this behaviour change. A possible replacement is to use pip for package installation..

In [5]:
!pip show pandas

Name: pandas
Version: 1.5.3
Summary: Powerful data structures for data analysis, time series, and statistics
Home-page: https://pandas.pydata.org
Author: The Pandas Development Team
Author-email: pandas-dev@python.org
License: BSD-3-Clause
Location: C:\DEV\Langs\Python311\Lib\site-packages
Requires: numpy, numpy, python-dateutil, pytz
Required-by:

DEPRECATION: Loading egg at c:\dev\langs\python311\lib\site-packages\vboxapi-1.0-py3.11.egg is deprecated. pip 23.3 will enforce this behaviour change. A possible replacement is to use pip for package installation..

In [6]:
!pip show numpy

Name: numpy
Version: 1.24.2
Summary: Fundamental package for array computing in Python
Home-page: https://www.numpy.org
Author: Travis E. Oliphant et al.
Author-email:
License: BSD-3-Clause
Location: C:\DEV\Langs\Python311\Lib\site-packages
Requires:
Required-by: folium, pandas

DEPRECATION: Loading egg at c:\dev\langs\python311\lib\site-packages\vboxapi-1.0-py3.11.egg is deprecated. pip 23.3 will enforce this behaviour change. A possible replacement is to use pip for package installation..

#### 판다스 기초

##### 개요

엑셀과 거의 동일한 테이블형태로 데이터를 핸들링할 수 있는 파이썬 모듈

데이터 분석을 위한 추상 자료구조(DataFrame!!)를 제공하는 데이터 분석도구임

###### 기본 기능
- 엑셀/CSV/Json 등 데이터파일에서 데이터 읽어오기 -> 파이썬 메모리상에 로드
- 데이터 처리
- 엑셀/CSV/Json 등 데이터파일에 저장

###### Pandas 용어
- Series, DataFrame
- Index, Columns, Values, etc

#### 판다스 학습 시작!

##### 시리즈

판다스에서 1차원 배열과 똑같은 자료형(데이터 타입)

<img src="https://velog.velcdn.com/images%2Fgjtjsdn1%2Fpost%2F41aab35d-d5bc-4a3f-b0fa-1c8770bf2eb9%2Fimage.png" width=500>

##### 판다스 모듈 import
```python
import pandas as pd
```

In [7]:
import pandas as pd

##### 시리즈 생성

In [8]:
grade = pd.Series()
grade

C:\Users\user\AppData\Local\Temp\ipykernel_16340\3103092338.py:1: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  grade = pd.Series()

Series([], dtype: float64)

In [11]:
grade = pd.Series(data=['홍길동', 90, 50, 75, 100], index=['이름', '국어','영어', '수학', '미술'], name='기말고사점수')
grade

이름    홍길동
국어     90
영어     50
수학     75
미술    100
Name: 기말고사점수, dtype: object

##### 시리즈 생성

<img src="https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Ft1.daumcdn.net%2Fcfile%2Ftistory%2F995809335BFBCC922B" width=500>

In [12]:
grade.values

array(['홍길동', 90, 50, 75, 100], dtype=object)

In [13]:
grade.index

Index(['이름', '국어', '영어', '수학', '미술'], dtype='object')

In [14]:
grade.name

'기말고사점수'

##### 판다스 시리즈 타입으로 전환

- 리스트 -> pd.Series(data=[])
- 딕셔너리 { 'key' : 'value' } -> pd.Series(data={})

In [15]:
gilsun_data = { '이름' : '홍길순', '국어' : 100, '영어' : 100, '수학' : 100, '미술' : 40 }
type(gilsun_data)

dict

In [16]:
# 리스트보다 딕셔너리로 데이터를 사용하는 것이 판다스 시리즈 생성할 때 편리
grade2 = pd.Series(data=gilsun_data)
grade2

이름    홍길순
국어    100
영어    100
수학    100
미술     40
dtype: object

In [18]:
type(grade2)

pandas.core.series.Series

# 중요!

None(== Null), NaN -> 결측치라 부르고 결측치가 있으면 데이터 분석이 부정확

In [21]:
# (빅)데이터 분석에서 가장 조심해야할 것, None(결측치)
grade3 = pd.Series(data=['유고', None, 10, 0, None], index=['이름', '국어', '영어', '수학', ''])
grade3

이름      유고
국어    None
영어      10
수학       0
      None
dtype: object

##### 재색인

결측치가 있거나 인덱스가 잘못되었을 때 다시 정립하는 작업

In [24]:
grade4 = grade3.reindex(index=['이름', '국어', '영어', '수학'])
grade4

이름      유고
국어    None
영어      10
수학       0
dtype: object

In [30]:
# 결측치 없애기
grade5 = grade3.reindex(index=['이름', '국어', '영어', '수학', '미술'], fill_value=0)
grade5

이름      유고
국어    None
영어      10
수학       0
미술       0
dtype: object

In [31]:
grade5.fillna(0, inplace=True)

In [32]:
grade5

이름    유고
국어     0
영어    10
수학     0
미술     0
dtype: object

#### 이름변경

##### 인덱스의 이름을 변경해주는 기능

In [33]:
grade3.rename({'이름':'Name', '국어':'Korean', '영어':'English', '수학':'Math', '':'Art'}, inplace=True)
grade3

Name         유고
Korean     None
English      10
Math          0
Art        None
dtype: object

##### 판다스 시리즈 요소 제어

파이썬 리스트(배열) 요소 접근방법과 유사

In [34]:
grade[0]

'홍길동'

In [35]:
grade['이름']

'홍길동'

In [36]:
print(grade[2])
print(grade['영어'])

50
50

In [40]:
# 로케이션 속성, 현재 지정된 인덱스 명으로 찾음. 숫자는 안됨
grade.loc['영어']

50

##### 시리즈에서 인덱스 변경

변경된 데이터만 임시 출력

In [42]:
grade[['이름', '미술']]

이름    홍길동
미술    100
Name: 기말고사점수, dtype: object

In [43]:
grade.reindex(index=['이름', '미술'])

이름    홍길동
미술    100
Name: 기말고사점수, dtype: object

In [44]:
grade

이름    홍길동
국어     90
영어     50
수학     75
미술    100
Name: 기말고사점수, dtype: object

In [45]:
grade.isnull()

이름    False
국어    False
영어    False
수학    False
미술    False
Name: 기말고사점수, dtype: bool

In [49]:
grade3.isnull()

Name       False
Korean      True
English    False
Math       False
Art         True
dtype: bool

In [50]:
grade3.notnull()

Name        True
Korean     False
English     True
Math        True
Art        False
dtype: bool

In [51]:
grade3['Korean'] = 40
grade3

Name         유고
Korean       40
English      10
Math          0
Art        None
dtype: object

In [52]:
import numpy as np

grade3['Art'] = np.NaN

In [56]:
grade3

Name        유고
Korean      40
English     10
Math         0
Art        NaN
dtype: object

In [59]:
# 필요한 인덱스의 값만 변경가능
grade3[['Korean', 'Art']] = (30, 90)

In [58]:
grade3

Name       유고
Korean     30
English    10
Math        0
Art        90
dtype: object

#### 시리즈 삭제

In [60]:
grade7 = grade3

In [62]:
del grade7['Math']

In [63]:
grade7

Name       유고
Korean     30
English    10
Art        90
dtype: object

In [66]:
# inplace True로 하면 완전히 대체되서 지워짐
grade7.drop('English', inplace=True)

In [67]:
grade7

Name      유고
Korean    30
Art       90
dtype: object

In [68]:
del grade7

In [69]:
grade7

NameError: name 'grade7' is not defined